<a href="https://colab.research.google.com/github/eclipserain/Learning/blob/main/03_Function_Practice_Exercises(PYTHON%20HELP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [599]:
def lesser_of_two_evens(a,b):
    if (a%2==0) and (b%2==0):
      return min(a,b)   
    else:
      return max(a,b)

alternative: return max(a,b)

In [600]:
# Check
lesser_of_two_evens(2,4)

2

In [601]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [605]:
def animal_crackers(text):
    wordlist = text.split()
    first = wordlist[0]
    second = wordlist[1]
    return first[0] == second[0]

ALTERNATIVE:

In [607]:
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

lower() makes lowercase before split

In [608]:
# Check
animal_crackers('Levelheaded Llama')

True

In [16]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [610]:
def makes_twenty(n1,n2):
  return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [611]:
# Check
makes_twenty(20,10)

True

In [612]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [80]:
def old_macdonald(name):
    return name[0:3].capitalize() + name[3:len(name)].capitalize()

In [81]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [133]:
def master_yoda(text):
  my_list_x = text.split()
  my_list_x.reverse()
  my_list_x = " ".join(my_list_x)
  return(my_list_x)

In [134]:
# Check
master_yoda('I am home')

'home am I'

In [135]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [162]:
def almost_there(n):
    if abs(100-n) <=10 or abs(200-n) <=10:
      return True
    return False

In [163]:
# Check
almost_there(104)

True

In [164]:
# Check
almost_there(150)

False

In [165]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [506]:
def has_33(nums):
    for i in range(0,len(nums)-1):
     if (nums[i:i+2] == [3,3]):
       return True
    return False

In [507]:
# Check
has_33([1, 3, 3])

True

In [321]:
# Check
has_33([1, 3, 1, 3])

False

In [322]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [423]:
def paper_doll(text):
  my_list = []
  for i in text:
    i = i*3
    my_list.append(i)
  my_list = "".join(my_list)
  print(my_list)

In [424]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [425]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [463]:
def blackjack(a,b,c):
  sum = a+b+c
  if sum >21 and a == 11 or b == 11 or c == 11:
        sum -=10
  if sum > 21:
        return 'BUST'
  if sum <= 21:
        return sum

In [456]:
# Check
blackjack(5,6,7)

18

In [462]:
# Check
blackjack(9,9,9)

'BUST'

In [458]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [494]:
def summer_69(arr):
  for x in arr:
        if 6 in arr:
            a = arr.index(6)
            b = arr.index(9)
            del arr[a:b+1]
            y = arr
        else:
            return sum(arr)
        return sum(y)

In [495]:
# Check
summer_69([1, 3, 5])

9

In [496]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [497]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [549]:
def spy_game(nums):
  for i in range(len(nums)):
    if [0,0,7] == nums[i:i+3]:
      return True
  return False

In [550]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [551]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [548]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [563]:
def count_primes(num):
    count_primes = 0
    if num > 1:
      for x in range(2,num):
        if (num % x != 0):
          count_primes += 1
   return count_primes in range(x,num)

IndentationError: ignored

In [561]:
# Check
count_primes(100)

False

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!